<!-- templates/paymentInfo.hbs -->
<h1>Hola, {{name}}</h1>
<p>Aquí está la información de tu pago:</p>
<ul>
  <li>Amount:  {{amount}} CLP</li>
  <li>Date:  {{date}}</li>
  <li>Tiempo de duración:  {{timeDuration}}</li>
</ul>
